article {
    background-color: var(--header-home-color);
    color: var(--white);
    padding: 1rem .5rem;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
  }

  .user-container-post {
    display: flex;
    gap: .3rem;
    width: auto;
    align-items: center;
  }
  
  .post-image {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-radius: .4rem;
  }
  
  .utils-container-post {
    display: flex;
    align-self: end;
    gap: .3rem;
  }

  .private {
    margin-left: auto;
    display: flex;
    align-self: center;
  }
  
  .post-user {
    font-weight: 400;
  }
  
  .post-date {
    font-style: italic;
  }
  
  .likes-saves-container {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: .9rem;
  }

  /* .price {
    font-size: .9rem;
  } */

  @media (min-width: 768px) {
    .post-image {
        height: 20rem;
    }
  }