@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?27ypcp');
  src:  url('./icomoon.eot?27ypcp#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?27ypcp') format('truetype'),
    url('./icomoon.woff?27ypcp') format('woff'),
    url('./icomoon.svg?27ypcp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon-lists-fill:before {
  content: "\e900";
}
.icon.icon-catalog-fill:before {
  content: "\e908";
}
.icon.icon-home-fill:before {
  content: "\e901";
}
.icon.icon-heart-fill:before {
  content: "\e902";
}
.icon.icon-account-fill:before {
  content: "\e903";
}
.icon.icon-catalog-unfill:before {
  content: "\e909";
}
.icon.icon-lists-unfill:before {
  content: "\e904";
}
.icon.icon-home-unfill:before {
  content: "\e905";
}
.icon.icon-heart-unfill:before {
  content: "\e906";
}
.icon.icon-account-unfill:before {
  content: "\e907";
}
