.register-button {
    margin-top: 0.313rem;
  }
  
  .login-answer {
    margin-top: 2.5rem;
    margin-bottom: -0.625rem;
    font-weight: 400;
    font-size: 0.625rem;
    margin-left: -0.563rem;
    margin-right: -0.625rem;
  }